<!DOCTYPE html>
<html lang="{{ site.isolang }}">
  {% include bloghead.html %}
<body>
    {{ content }}
    <script src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>
    <script src="{{site.baseurl}}/js/owl.carousel.js"></script>
    <script src="{{site.baseurl}}/js/lightbox.min.js"></script>
    <script src="{{site.baseurl}}/js/wow.min.js"></script>
    <script src="{{site.baseurl}}/js/jquery.onepagenav.js"></script>
    <script src="{{site.baseurl}}/js/core.js"></script>
    <script src="{{site.baseurl}}/js/tooltip.js"></script>
    <script src="{{site.baseurl}}/js/jquery.form-validator.js"></script>
    <script src="{{site.baseurl}}/js/preloader.js"></script>
    <script src="{{site.baseurl}}/js/main.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

</body>
</html>
